.checked-list-main {
  position: fixed;
  bottom: 10vh;
  left: 0;
  height: 8vh;
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 1.5vh;
  border-top: black solid 3px;
  background-color: green;
}
