.dropdown {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
.down {
  display: flex;
}
.dropdown::-webkit-scrollbar {
  visibility: hidden;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 12vh;
  left: 0;
  max-height: 50vh;
  width: 100vw;
  overflow: scroll;
  background-color: #fff3e4;
  z-index: 99;
  .dropdown-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 85vw;
    height: 10vh;
    padding-bottom: 12px;
    color: black;
  }
}

.nome-completo {
  width: 100vw;
}
.valor-item {
  margin: 0 2vw;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 98;
}
