.dropdown {
  display: none;
  width: 100vw;
  height: 100vh;
}
.searching {
  display: flex;
}

.dropdown-content {
  position: absolute;
  margin: 0px 8vw;
  width: 85vw;
  background-color: red;
  z-index: 99;
  .dropdown-item {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    align-items: center;
    color: black;
    h3 {
      padding-left: 15vw;
    }
    p {
      padding-right: 5vw;
    }
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 98;
}
