$font-color: #2e2c2c;
$bg-color: #fff3e4;

.top-menu {
  display: flex;
  position: absolute;
  height: 12vh;
  width: 100vw;
  top: 0;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100vw;
  z-index: 99;
}

.list-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  margin: 1vh 0;
  margin-right: 6vw;
  h3 {
    color: $font-color;
  }
  img {
    height: 50px;
    width: 50px;
    z-index: 100;
  }
}

.search-area {
  display: flex;
  height: 5vh;
  width: 90vw;
  border-radius: 20px;
  background-color: $bg-color;

  input {
    background-color: transparent;
    width: 70vw;
    border: none;
    font-size: large;
    outline: none;
  }

  input,
  select,
  textarea {
    color: $font-color;
  }
}

.search-icon {
  margin: 10px 15px;
}
input:focus {
  .options {
    display: flex;
  }
}
.searching {
  height: 6vh;
  width: 100vw;
  border-radius: 0;
  animation: searching 0.5s;
}
@keyframes searching {
  from {
    height: 5vh;
    width: 90vw;
    border-radius: 20px;
  }
  to {
    height: 6vh;
    width: 100vw;
    border-radius: 0;
  }
}
